<div class="container-fluid">

    <!-- <div class="col-md-4 ">
            
            <div class=" align-items-center" style="background-color:#ff0000;">
                <app-stats></app-stats>
                
            </div>
        </div> -->
    <div class="row flex-nowrap">
        <app-stats class="col-auto col-md-1 col-xl-1 px-sm-1 px-0 bg-dark"></app-stats>
        <div class="col-md-11 py-3">
            <app-futures></app-futures>
            <app-present class="horizontal"></app-present>
            <app-past class="horizontal"></app-past>
        </div>
    </div>


</div>