<div class="container-fluid">
    <div class="row  px-2">
        <div class="col-md-4 ">
            <!-- <div class="d-flex align-items-center vh-100" style="background-color:#ff0000;">
                <button class="w-100 m-5 btn btn-primary">Draw Card</button>
                
            </div> -->
            <div class=" align-items-center" style="background-color:#ff0000;">
                <app-stats></app-stats>
                
            </div>
        </div>

        <div class="col-md-8 bg-danger">
           <app-futures></app-futures>
            <app-present class="bg-success horizontal h-50 w-100"></app-present>
            <app-past></app-past>
        </div>
        
    </div>
</div>