<div >

    <div >
        <div class="py-3">
            <app-futures></app-futures>
            <app-present class="horizontal"></app-present>
            <div  class=" d-flex justify-content-center" [ngClass]="{'d-none': exchangeCardInProgress == false}" >
                Please select one card to be moved back to the draw stack!
            </div>
            <app-past class="horizontal justify-content-center"></app-past>
            
        </div>
        
        
        
    </div>

  

</div>
<app-stats></app-stats>