<footer class="mt-auto py-3 bg-light">
    <div class="horizontal justify-content-center">
        <div class="align-middle px-3">
            <span class="h4 p-2 noselect" data-bs-toggle="tooltip" 
                title="Candies">{{candies}}</span><i class="fs-4 bi-lg bi-hypnotize" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Candies"></i>
        </div>
        <div class="align-middle px-3">
            <span class="h4 p-2 noselect" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Cofees">{{cofees}}</span><i class="fs-4 bi-cup" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Cofees"></i>
        </div>
        <div class="align-middle px-3">
            <span class="h4 p-2 noselect" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Sorted">{{sortedCards}}</span><i class="fs-4 bi-stack" data-bs-toggle="tooltip"
                data-bs-placement="top" title="Sorted"></i>
        </div>
        <div class="align-middle px-3" [ngClass]="{'d-none': gameIsStarted == false || gameIsFinished == true}">
            <button  class="btn btn-info" (click)="toPast()" data-bs-toggle="tooltip" data-bs-placement="top"
            title="Move present cards to past area"><fa-icon class="fa"  [icon]="faStopWatch"></fa-icon></button>
        </div>

        <div class="align-middle px-3" [ngClass]="{'d-none': gameIsStarted == true}">
            <button  class="btn btn-info"
            (click)="draw3Cards()"><fa-icon class="fa"  [icon]="faPlay"></fa-icon>
            </button>
        </div>

        <div class="align-middle px-3" [ngClass]="{'d-none': gameIsFinished == false}">
            <button  class="btn btn-info"
            (click)="restart()"><fa-icon class="fa"  [icon]="faRedo"></fa-icon>
            </button>
        </div>

    </div>
</footer>